* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}
body{
    background: #a4b6d3;
}


/*Intro Screen Includes Designed Header*/

/*Intro Screen has rectangular button with rounded edges*/

/*Questions appear on top of Answers*/

/*Timer changes color at 1 minute left*/

/**/
